h2,
h4,
p,
span,
li {
  color: #7e84ad;
}

li {
  list-style: none;
  font-size: 35px;
}

form {
  display: inline-block;
}

.active {
  color: black;
  font-weight: bolder;
  cursor: default;
}

.active:hover {
  color: black;
  text-decoration: none;
}

.line {
  border: 1.5px solid #7e84ad;
  border-radius: 5px;
}

.button {
  background-color: blueviolet;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 32px;
  transition: all 200ms ease-in-out;
  font-size: larger;
}

.button:hover {
  background-color: #d7daef;
  color: blueviolet;
}

.current-button {
  background-color: blueviolet;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 11px 17px;
  font-size: larger;
  transition: all 200ms ease-in-out;
}

.current-button:hover {
  background-color: #d7daef;
  color: blueviolet;
}

.card {
  margin: 20px auto 0px;
  max-width: 800px;
  min-height: 500px;
}

.content {
  font-family: "Roboto", sans-serif;
}

.emoji {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.weather-forecast {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 25px;
}

.forecast-day-one {
  text-align: center;
  color: #7e84ad;
  font-size: 16px;
}

.forecast-day-one-icon {
  margin: 20px auto;
}

.search {
  margin-top: 20px;
  margin-bottom: 20px;
}

.weather-emoji-today {
  float: left;
  margin: 10px;
}

.current-date-time {
  text-align: right;
  font-size: 18px;
}

.temperature-forecast {
  text-align: center;
  padding-top: 5px;
}

.forecast-day {
  text-align: center;
}

.max-temp,
.min-temp {
  font-size: 13px;
}

.min-temp {
  opacity: 0.6;
}

.weather-description-today {
  color: black;
}

.wind {
  font-size: 18px;
}

#celciusUnit,
#farenheitUnit {
  position: relative;
  top: -15px;
  text-decoration: none;
  font-size: 18px;
}

#city-heading-left {
  font-size: 40px;
  font-weight: bold;
}

#city-heading-left:first-letter {
  text-transform: capitalize;
}

#city-search-form {
  margin-bottom: 25px;
}

#current-temperature {
  font-size: 40px;
  font-weight: bold;
}

#description {
  font-size: 18px;
}

#open-source-link {
  text-align: center;
  font-size: smaller;
}
