h2,
h4,
p,
span,
li {
  color: #c36cbc;
}

li {
  list-style: none;
  font-size: 35px;
}

form {
  display: inline-block;
}

.active {
  color: #533153;
  font-weight: bolder;
  cursor: default;
}

.active:hover {
  color: #533153;
  text-decoration: none;
}

.button {
  background-color: #c36cbc;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 8px 32px;
  transition: all 200ms ease-in-out;
  font-size: larger;
}

.button:hover {
  background-color: #fcfcfc;
  color: #c36cbc;
  border: 1px solid #c36cbc;
}

.card {
  margin: 20px auto 0px;
  max-width: 800px;
  min-height: 500px;
}

.content {
  font-family: "Roboto", sans-serif;
}

.weather-forecast {
  margin-top: 10px;
  text-align: center;
}

.forecast-day {
  text-align: center;
  font-size: 13px;
}

.forecast-icon {
  margin: 20px auto;
}

.search {
  margin-top: 20px;
  margin-bottom: 20px;
}

.current-date-time {
  text-align: right;
  font-size: 18px;
}

.max-temp,
.min-temp {
  font-size: 15px;
}

.max-temp {
  font-weight: bold;
}

.min-temp {
  opacity: 0.8;
}

.weather-description-today {
  color: #533153;
}

.wind {
  font-size: 21px;
}

.unit {
  font-size: 23px;
  color: #533153;
  position: relative;
  top: -15px;
  font-weight: bold;
}

#city-heading-left {
  font-size: 40px;
  font-weight: bold;
  color: #533153;
}

#city-heading-left:first-letter {
  text-transform: capitalize;
}

#city-search-form {
  margin-bottom: 25px;
}

.current-temperature {
  font-size: 45px;
  font-weight: bold;
  color: #533153;
}

#description {
  font-size: 21px;
}

#open-source-link {
  text-align: center;
  font-size: smaller;
}

#today-weather-image {
  height: 150px;
  width: 150px;
  float: left;
  margin: 10px;
}

#forecast-icon {
  height: 80px;
  width: 80px;
}
